/* contenitore che occupa l'intero schermo */
* {margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   }
.maxbox {width: 100%;
         height: fit-content;
         margin-top: 5px;
         padding: 10px;
}
.middlebox {
    width: 50%;
    height: fit-content;
    float: left;
    margin-top: 5px;
    padding: 10px;
}
/* @media è una super proprieta che permette
di cambiare il comportamento di un oggetto
in base alle dimensioni dello schermo */
@media (max-width:380px) {

    .middlebox {
        width: 100%;
        height: fit-content;
        clear: both;
        margin-top: 5px;
        padding: 10px;
}


    
}

.media-middlebox {
    width: 25%;
    height: fit-content;
    float: left;
    padding: 10px;
    margin-top: 5px;
}
.supermini {
    width: 13.333%;
    height: fit-content;
    float: left;
    padding: 10px;
    margin-top: 5px;
}
.sd {
    clear: both;
}